{
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "globals": {
    "document": "readonly",
    "navigator": "readonly",
    "window": "readonly"
  },
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "rules": {
    "linebreak-style": 0,
    "react/jsx-filename-extension": 0,
    "react/prop-types": 0
  }
}