.sidebarmenu_container {
  grid-area: sidebar;
  position: fixed;
  width: 20%;
  height: calc(100vh - 70px);
  background-color: white;
  border-right: 2px solid rgb(225, 225, 225);
  top: 70px;
  nav {
    height: 100%;
    width: 100%;
    ul {
      margin: 20px 30px;
      list-style: none;
      li {
        margin: 0 0 20px;
        .active {
          background: lighten($color: $c-grayLigth, $amount: 7.5);
          border-radius: 4px;
        }
        a {
          display: flex;
          width: 100%;
          padding: 5px;
          color: black;
          font-size: 2rem;
          text-decoration: none;
          align-items: center;
          transition: background .5s ease;
          &:hover {
            @extend .active;
          }
        }
        img {
          margin-right: 10px;
        }
      }
    }
  }
}