@import './vars';
@import './header';
@import './studentsList';
@import './sidebarMenu';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: $font-lato;
}

body {
  font-size: 1.6rem;
}

#app {
  display: grid;
  grid-template-areas: "header header" "sidebar content";
  grid-template-columns: 20% 80%;
  grid-template-rows: 70px auto;
}

main {
  grid-area: content;
  &.isCoach {
    grid-area: 2 / 1 / 2 / 3;
  }
}

.VacanciesApplied-title {
  margin: 30px 0;
  font-size: $font-bebas;
  text-align: center;
}