@import './vars';
@import './header';
@import './studentsList';
@import './sidebarMenu';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: $font-lato;
}

body {
  font-size: 1.6rem;
}

#app {
  display: grid;
  grid-template-areas: "header header" "sidebar content";
  grid-template-columns: 20% 80%;
  grid-template-rows: 70px auto;
}

main {
  grid-area: content;
  &.isCoach {
    grid-area: 2 / 1 / 2 / 3;
    display: flex;
    justify-content: space-between;
  }
}

.Home {
  &-list {
    &-vacancies,
    &-alumns {
      display: flex;
      flex-direction: column;
      background-color: lavender;
      margin: 2.5%;
      h2 {
        margin: 15px 20px;
      }
    }
    &-vacancies {
      width: 55%;
    }
    &-alumns {
      width: 35%;
    }
  }
  &-search {
    display: flex;
    width: 85%;
    min-height: 70px;
    margin: 30px auto 40px;
    padding: 20px;
    border-bottom: 1px solid rgba(83, 83, 83, .6);
    place-content: center;
    input {
      border: none;
      box-shadow: 0 0 5px rgba(110, 110, 110, .5);
      border-radius: 4px;
      height: 40px;
      width: 550px;
      text-indent: 1rem;
      &::placeholder {
        font-family: $font-lato;
        font-size: 1.6rem;
      }
    }
  }
}

.Vacancy-description {
  width: 60%;
  margin: 50px auto;
  font-size: 1.8rem;
}

.VacanciesApplied-title {
  margin: 30px 0;
  font-family: $font-bebas;
  text-align: center;
}