.SidebarCoach {
  &-container {
    grid-area: sidebar;
    position: fixed;
    width: 20%;
    height: calc(100vh - 70px);
    background-color: rgba(83, 83, 83, .6);
    top: 70px;
  }
  &-item {
    display: flex;
    width: 100%;
    min-height: 80px;
    color: black;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &:hover {
      text-decoration: underline;
    }
  }
}